body
{
    background:url("../img/background.jpg");
    background-repeat:repeat-y;
    background-size:100% 100%;
}

#add-form
{
    background:#a6c2de;
    padding:20px;
    border-radius:10px;
}

.btn-info
{
    float:right;
    font-size:30px;
}

table
{
    width:100%;
    margin-top:70px;
    background:#a6c2de;
}

th
{
    font-size:25px;
    background:#6ba3db;
}

td
{
    font-size:20px;
}

tr
{
    height:50px;
    border-bottom:solid 2px #7d9bba;
}

.expired
{
    color: #ff0000;
}

.main-title
{
    color:#8f2f2e;
    text-align:center;
    font-weight:bold;
}

#carousel-example-generic
{
    border:solid 10px #a7cbfa;
    border-radius:10px;
}

.postit
{
    width:100%;
    min-height:350px;
    background:#FFFF83;
    margin-top:20px;
}

#postit-note
{
    background:#FFFF83;
    width:100%;
    border:none;
    resize:none;
    height:280px;
}
.btn-warning
{
    float:right;
    font-size:30px;
    color: gray;
    width: 100%;
    background:#FFFF60;
    border-radius: 0;
    border:none;
}

.btn-warning:hover
{
    background:#FFFF83;
    border:none;
    color:gray;
}