#add-form
{
    border:solid 1px black;
    padding:20px;
    border-radius:10px;
}

.btn-info
{
    float:right;
    font-size:30px;
}

th
{
    font-size:25px;
}

td
{
    font-size:20px;
}

tr
{
    height:40px;
}

.expired
{
    color: #ff0000;
}
